body {
    margin: 0;
    font-family: Calibri, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Estilos de la navbar */
.navbar {
    background-color: white;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 170px;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-link-box {
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    text-align: center;
}

.navbar-link {
    color: #564387;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
}

.navbar-link-box:hover {
    background-color: #564387;
}

.navbar-link-box:hover .navbar-link {
    color: #ffffff;
}

.invisible-spacer {
    flex-grow: 1;
    margin-right: 20px;
}

/*Contenedor principal */
.container {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.background-image {
    width: 100%;
    position: relative;
    text-align: center; /* Centrar horizontalmente */
}

/*Imagen superpuesta */
.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 700px;
    height: auto; 
}


