.navbar {
    background-color: white;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 170px;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-link-box {
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    text-align: center;
    position: relative; /* Añadido para el dropdown */
}

.navbar-link {
    color: #564387;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
}

.navbar-link-box:hover {
    background-color: #564387;
}

.navbar-link-box:hover .navbar-link {
    color: #ffffff;
}

.invisible-spacer {
    flex-grow: 1;
    margin-right: 20px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 12%;
    position: relative;
    display: flex;
}

.search-input {
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #564387;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #7d62a8;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon img {
    width: 20px;
    height: auto;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle::after {
    content: ' ▼';
    font-size: 0.7em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
