<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mindcraft{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="https://unsisterly-collar.000webhostapp.com/apk/icon2.png" type="image/png">
</head>
<body>
    <div class="navbar">
        <img src="https://unsisterly-collar.000webhostapp.com/apk/logo.png" alt="Logo">
        {% if user.is_authenticated %}
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar...">
        </div>
        <div class="navbar-links">
            <div class="navbar-link-box dropdown">
                <a href="#" class="navbar-link dropdown-toggle">{{ user.username }}</a>
                <div class="dropdown-content">
                    <a href="{% url 'feed'%}">inicio</a>
                    <a href="{% url 'profile' user.username %}">Perfil</a>
                    <a href="#">Cursos inscritos</a>
                    <a href="#">Más</a>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
            <div class="invisible-spacer"></div>
        </div>
        {% else %}
        <div class="navbar-links">
            <div class="navbar-link-box">
                <a href="{% url 'login' %}" class="navbar-link">Iniciar sesión</a>
            </div>
            <div class="navbar-link-box">
                <a href="{% url 'register' %}" class="navbar-link">Registrarme</a>
                <div class="invisible-spacer"></div>
            </div>
            <div class="invisible-spacer"></div>
        </div>
        {% endif %}
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="notification {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>
