<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mindcraft{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="https://unsisterly-collar.000webhostapp.com/apk/icon2.png" type="image/png">
    <style>
        
    </style>
</head>
<body>
    <div class="navbar">
        <img src="https://unsisterly-collar.000webhostapp.com/apk/logo.png" alt="Logo">
        {% if user.is_authenticated %}
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar...">
        </div>
        <div class="navbar-links">
            <div class="navbar-link-box dropdown">
                <a href="#" class="navbar-link dropdown-toggle">{{ user.username }}</a>
                <div class="dropdown-content">
                    <a href="{% url 'feed'%}">inicio</a>
                    <a href="{% url 'profile' user.username %}">Perfil</a>
                    <a href="#">Cursos inscritos</a>
                    <a href="#">Más</a>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
            <div class="invisible-spacer"></div>
        </div>
        {% else %}
        <div class="navbar-links">
            <div class="navbar-link-box">
                <a href="{% url 'login' %}" class="navbar-link">Iniciar sesión</a>
            </div>
            <div class="navbar-link-box">
                <a href="{% url 'register' %}" class="navbar-link">Registrarme</a>
                <div class="invisible-spacer"></div>
            </div>
            <div class="invisible-spacer"></div>
        </div>
        {% endif %}
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="notification {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}


</body>
<footer>
    <div style="margin-left: 20px; margin-right: 20px;">
        <table class="footer-table" style="text-align: left; width: 100%;">
            <tr>
                <!-- Columna izquierda del footer -->
                <td style="vertical-align: top; padding-right: 50px;">
                    <!-- Titulo de la primera columna -->
                    <h3 style="margin-bottom: 15px;">Contactos</h3>
                    <!-- Texto de la primera columna -->
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Calle Falsa, #123. C.A</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">+503 1234 5678</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">+1 234 567 8910</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">correofalso@mind.edu.sv</a></p>
                </td>
                <!-- Columna del centro -->
                <td style="vertical-align: top; padding-right: 50px;">
                    <!-- Titulo de la segunda columna -->
                    <h3 style="margin-bottom: 15px;">About us</h3>
                    <!-- Elementos de la segunda columna -->
                    <p><span class="circle"></span> <a href="#" class="footer-txt">FAQs</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Servicios</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Inscripciones</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Términos y condiciones</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Reportar problema</a></p>
                </td>
                <!-- 3er columna del footer -->
                <td style="vertical-align: top; padding-left: 50px;">
                    <!-- Titulo de la columna -->
                    <h3 style="margin-bottom: 15px;">Información</h3>
                    <!-- Texto de la tercera columna -->

                    <!-- cambiar href="#" por href="enlace a pagina" -->
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Registrarme como docente</a></p> 
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Trabaja con nosotros</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Asesoría general</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Afíliate</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Patrocinios</a></p>
                    <p><span class="circle"></span> <a href="#" class="footer-txt">Recursos</a></p>
                </td>
            </tr>
        </table>
    </div>

    <div><p> </p></div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="#"><img id="media1" src="https://unsisterly-collar.000webhostapp.com/apk/png.png" alt="Media" style="max-width: 10%; margin: auto;"></a>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="#"><img id="media2" src="https://unsisterly-collar.000webhostapp.com/apk/media2.png" alt="Media" style="max-width: 8%; margin: auto;"></a>
    </div>
    <!-- divisor opcional-->
    <!--<div><p> </p></div>-->
    <div><p class="footer-txt">Copyright © 2024. Mindcraft, All Rights Reserved.</p></div>
</footer>

</html>
