{% extends 'base.html' %}

{% block title %}Mindcraft{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Contenido principal -->
        <div class="background-image">
            <img src="https://unsisterly-collar.000webhostapp.com/apk/bgbook2.png" alt="background" class="background-image">
            <img src="https://unsisterly-collar.000webhostapp.com/apk/int2.png" alt="superpuesta" class="overlay-image">
        </div>
        <!-- Texto de prueba -->
        <div class="text-container">
            <h2>¿Qué es Mindcraft?</h2>
            <p>Esta plataforma se erige con la misión de proporcionar a la audiencia estudiantil un compendio de herramientas sofisticadas y una accesibilidad sin parangón, con el objetivo de facilitar la participación en clases virtuales impartidas por nuestro selecto cuerpo docente, cuya competencia y devoción hacia la enseñanza se erigen como estandartes de excelencia, dispuestos a cultivar y guiar con esmero sus alumnos.</p>
            <p>Además, Mindcraft ofrece una variedad de recursos educativos diseñados para promover el aprendizaje activo y el desarrollo integral del estudiante, fomentando así un ambiente propicio para el crecimiento académico y personal.</p>
            <p>Con una interfaz intuitiva y funcionalidades innovadoras, Mindcraft se presenta como una herramienta indispensable para el éxito académico, brindando a los usuarios la oportunidad de explorar, aprender y colaborar de manera efectiva en un entorno virtual dinámico y enriquecedor.</p>
            </div>
    </div>


    <!--El footer funciona como una tabla, cada seccion es una columna-->


{% endblock %}
